@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --first-color: #e6e6e6;
  --black-color: #000;
  --white-color: #ebebeb;
}

:root {
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: 0.93rem;
  --small-font-size: 0.81rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.37rem;
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  background-color: #000;
  color: #e6e6e6;
  font-weight: 700;
  overflow: hidden !important;
}


h1,
h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


.main_set {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--black-color);
}

.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-color)), to(var(--first-color)));
    background-image: linear-gradient(var(--black-color), var(--first-color));
    width: 100%;
    height: 45%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    -webkit-transition: .5s;
    transition: .5s;
  }


}

.nav__list {
  text-align: center;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 0.1875rem;
  left: 0.125rem;
  top: 2.125rem;
  background-color: var(--first-color);
}

.nav__logo {
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  top: 3rem;
}

.main_info {
  height: calc(100vh - 3rem);
  background-color: var(--black-color);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  row-gap: 2.3rem;
  height: 100%;
  font-weight: 700;
}

.my_info {
  padding-left: 1.5rem;
  border-left: 5px solid var(--white-color);
  z-index: var(--z-tooltip);

}

.my_name {
  font-size: var(--h1-font-size);
}

.my_skill {
  font-size: var(--h2-font-size);
}

.my_photo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 291px;
  /* z-index: var(--z-normal); */
}

.container_social_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 1rem;
}

.social_logos {
  margin-bottom: 2rem;
  font-size: 1.33rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.social_logos:hover {
  transition: 0.5s;
  margin-top: -20px;
  box-shadow: 0px 0px 6px 3px #fff;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .main_info {
    height: 100vh;
  }

  .nav {
    height: 4rem;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__link {
    text-transform: initial;
  }

  .container {
    -ms-grid-rows: max-content 20px;
    grid-template-rows: -webkit-max-content 20px;
    grid-template-rows: max-content 20px;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .my_info {
    margin-top: 2rem;
  }

  .container_social_logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 0;
  }

  .social_logos {
    margin-right: 2rem;
    margin-bottom: 0;
    height: 65px;
    width: 65px;


  }

  .my_photo {
    width: 400px;
    right: 5%;
    display: grid;
    align-content: space-around;
    height: 100%;

  }


}





@media only screen and (max-width: 250px) {
  .my_photo img {
    width: 200px;
  }
}

@media screen and (min-width: 1400px) {
  .main_set {
    margin-left: auto;
    margin-right: auto;
  }

  .my_info {
    width: 560px;
    height: 198px;
  }
}

.slider {
  background-color: var(--first-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.my_photo img {
  position: fixed;
  bottom: 0px;
  left: 0%;

}